# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.4
  - nightly
notifications:
  email: false
before_install:
 - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
script:
 - julia -e 'Pkg.clone(pwd()); Pkg.build("PPGLM"); Pkg.test("PPGLM"; coverage=true)'
